/* Anuphan font */
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap');

/*tailwind*/
@import "tailwindcss";

/* Inter font*/
:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}

@theme {
    --font-default: "Inter", "Anuphan", sans-serif;
    --banner-height: calc(95.5svh - (var(--spacing) * 20.5));
    --banner-height-sm: calc(95.5svh - (var(--spacing) * 32));
}

body {
    @apply bg-zinc-950 text-zinc-300 font-default
}

/* Headers */
h1 {
    @apply text-4xl font-bold leading-15
}
h2 {
    @apply text-2xl font-bold leading-15
}
h3 {
    @apply text-xl font-bold leading-12
}
hr {
    @apply p-1
}


/*page*/

.pagecat {
    @apply text-lg font-bold text-wrap w-max max-w-full px-2 py-1 text-zinc-950 bg-zinc-300
}

.pagetitle {
    @apply text-2xl font-bold text-wrap w-max max-w-full px-3 py-2 mb-4 border-1 border-zinc-400 bg-zinc-900
}

.sectionh {
    @apply text-lg font-bold text-wrap w-max max-w-full px-3 py-2 border-1 border-b-0 border-zinc-400 bg-zinc-900
}

.sectionb {
    @apply p-4 mb-4 border-1 border-zinc-400 
}



/* Links */

.link {
    @apply border-b-1 border-dashed border-zinc-400
}

.button {
    @apply p-2 mb-4 font-bold text-zinc-950 bg-zinc-300
}