/* Anuphan font */
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap');

/*tailwind*/
@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Inter font*/
:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */ --radius: 0.625rem; --background: oklch(1 0 0); --foreground: oklch(0.141 0.005 285.823); --card: oklch(1 0 0); --card-foreground: oklch(0.141 0.005 285.823); --popover: oklch(1 0 0); --popover-foreground: oklch(0.141 0.005 285.823); --primary: oklch(0.21 0.006 285.885); --primary-foreground: oklch(0.985 0 0); --secondary: oklch(0.967 0.001 286.375); --secondary-foreground: oklch(0.21 0.006 285.885); --muted: oklch(0.967 0.001 286.375); --muted-foreground: oklch(0.552 0.016 285.938); --accent: oklch(0.967 0.001 286.375); --accent-foreground: oklch(0.21 0.006 285.885); --destructive: oklch(0.577 0.245 27.325); --border: oklch(0.92 0.004 286.32); --input: oklch(0.92 0.004 286.32); --ring: oklch(0.705 0.015 286.067); --chart-1: oklch(0.646 0.222 41.116); --chart-2: oklch(0.6 0.118 184.704); --chart-3: oklch(0.398 0.07 227.392); --chart-4: oklch(0.828 0.189 84.429); --chart-5: oklch(0.769 0.188 70.08); --sidebar: oklch(0.985 0 0); --sidebar-foreground: oklch(0.141 0.005 285.823); --sidebar-primary: oklch(0.21 0.006 285.885); --sidebar-primary-foreground: oklch(0.985 0 0); --sidebar-accent: oklch(0.967 0.001 286.375); --sidebar-accent-foreground: oklch(0.21 0.006 285.885); --sidebar-border: oklch(0.92 0.004 286.32); --sidebar-ring: oklch(0.705 0.015 286.067);
}
@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}

@theme {
    --font-default: "Inter", "Anuphan", sans-serif;
    --banner-height: calc(95.5svh - (var(--spacing) * 20.5));
    --banner-height-sm: calc(95.5svh - (var(--spacing) * 26));
}

body {
    @apply bg-zinc-950 text-zinc-300 font-default;
}

/* Headers 
h1 {
    @apply text-4xl font-bold py-2
}
h2 {
    @apply text-2xl font-bold py-2
}
h3 {
    @apply text-xl font-bold py-2
}
hr {
    @apply p-1
}
*/

/*page*/

.pagecat {
    @apply text-lg font-bold text-wrap w-max max-w-full px-2 py-1 text-zinc-950 bg-zinc-300
}

.pagetitle {
    @apply text-2xl font-bold text-wrap w-max max-w-full px-3 py-2 mb-4 border-1 border-zinc-400 bg-zinc-900
}

.sectionh {
    @apply text-lg font-bold text-wrap w-max max-w-full px-3 py-2 border-1 border-b-0 border-zinc-400 bg-zinc-900
}

.sectionb {
    @apply p-4 mb-4 border-1 border-zinc-400 
}

.sectionhnm {
    @apply text-lg text-center font-bold text-wrap w-full px-3 py-2 border-1 border-b-0 border-zinc-400 bg-zinc-900
}

.sectionbnm {
    @apply p-2 border-1 border-zinc-400 
}

/* Links */

.link {
    @apply border-b-1 border-dashed border-zinc-400
}

.buttonbg{
    @apply bg-[url(/button.png)] bg-cover rounded-full 
}

.button {
    @apply p-2 mb-4 w-full font-bold text-zinc-300 rounded-full outline-1 outline-zinc-400 hover:outline-zinc-950 backdrop-brightness-25 hover:text-zinc-950 hover:backdrop-brightness-100 transition-all
}

/* About */

.grouping {
    @apply border-b-1 border-zinc-400 mb-4 pb-4
}

.nameh {
    @apply font-bold text-wrap w-max max-w-full px-3 py-2 mt-4 border-1 border-b-0 border-zinc-400 bg-zinc-900
}

.nameb {
    @apply text-sm p-4 border-1 border-zinc-400 h-fit
}

.alumh {
    @apply text-sm font-bold text-wrap w-max max-w-full px-3 py-2 mt-4 border-1 border-b-0 border-zinc-400 bg-zinc-900
}

.alumb {
    @apply text-xs p-4 border-1 border-zinc-400 h-fit
}

td {
    @apply pr-2
}