/* Anuphan font */
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap');

/*tailwind*/
@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Inter font*/
:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */ --radius: 0.625rem; --background: oklch(1 0 0); --foreground: oklch(0.141 0.005 285.823); --card: oklch(1 0 0); --card-foreground: oklch(0.141 0.005 285.823); --popover: oklch(1 0 0); --popover-foreground: oklch(0.141 0.005 285.823); --primary: oklch(0.21 0.006 285.885); --primary-foreground: oklch(0.985 0 0); --secondary: oklch(0.967 0.001 286.375); --secondary-foreground: oklch(0.21 0.006 285.885); --muted: oklch(0.967 0.001 286.375); --muted-foreground: oklch(0.552 0.016 285.938); --accent: oklch(0.967 0.001 286.375); --accent-foreground: oklch(0.21 0.006 285.885); --destructive: oklch(0.577 0.245 27.325); --border: oklch(0.92 0.004 286.32); --input: oklch(0.92 0.004 286.32); --ring: oklch(0.705 0.015 286.067); --chart-1: oklch(0.646 0.222 41.116); --chart-2: oklch(0.6 0.118 184.704); --chart-3: oklch(0.398 0.07 227.392); --chart-4: oklch(0.828 0.189 84.429); --chart-5: oklch(0.769 0.188 70.08); --sidebar: oklch(0.985 0 0); --sidebar-foreground: oklch(0.141 0.005 285.823); --sidebar-primary: oklch(0.21 0.006 285.885); --sidebar-primary-foreground: oklch(0.985 0 0); --sidebar-accent: oklch(0.967 0.001 286.375); --sidebar-accent-foreground: oklch(0.21 0.006 285.885); --sidebar-border: oklch(0.92 0.004 286.32); --sidebar-ring: oklch(0.705 0.015 286.067);
}
@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}

@theme {
    --font-default: "Inter", var(--font-inter-thai), "Anuphan", sans-serif;
    --banner-height: calc(95.5svh - (var(--spacing) * 8));
    --banner-height-sm: calc(95.5svh - (var(--spacing) * 22));
}

body {
    @apply font-default bg-zinc-950 text-zinc-300;
}

html {
    scroll-behavior: smooth !important;
}

.herohalf-resp {
    @apply h-[85svh] md:h-[50svh] w-full bg-cover bg-center mb-8 relative flex
}

.herohalf {
    @apply h-[40svh] md:h-[50svh] w-full bg-cover bg-center mb-0 relative flex
}

.herohalfimage {
    @apply size-full object-cover mask-b-from-80% mask-b-to-100%
}

/* Headers 
h1 {
    @apply text-4xl font-bold py-2
}
h2 {
    @apply text-2xl font-bold py-2
}
h3 {
    @apply text-xl font-bold py-2
}
hr {
    @apply p-1
}
*/

/*page*/

.sec {
    @apply w-full flex justify-center mb-8
}

.secdiv {
    @apply w-full max-w-[800px] px-4
}

.sech {
    @apply text-lg font-bold text-wrap w-full px-3 py-2 border-1 border-zinc-400 bg-zinc-900
}

.sech2 {
    @apply text-lg font-bold w-full pb-2 border-b-1 border-zinc-400
}

.secb {
    @apply mt-4
}

.pagecat {
    @apply text-lg font-bold text-wrap w-max max-w-full px-2 py-1 text-zinc-950 bg-zinc-300
}

.pageh {
    @apply text-2xl font-bold text-wrap w-full px-3 py-2 border-1 border-zinc-400 bg-zinc-900
}

.itemh {
    @apply text-lg text-center font-bold text-wrap w-full px-3 py-2 border-1 border-b-0 border-zinc-400 bg-zinc-900
}

.itemb {
    @apply p-2 border-1 border-zinc-400 
}

.pattbg {
    background-color: #18181b;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='44' viewBox='0 0 34 44'%3E%3Cg fill='%2309090b' fill-opacity='1'%3E%3Cpath fill-rule='evenodd' d='M1 6.2C.72 5.55.38 4.94 0 4.36v13.28c.38-.58.72-1.2 1-1.84A12.04 12.04 0 0 0 7.2 22 12.04 12.04 0 0 0 1 28.2c-.28-.65-.62-1.26-1-1.84v13.28c.38-.58.72-1.2 1-1.84A12.04 12.04 0 0 0 7.2 44h21.6a12.05 12.05 0 0 0 5.2-4.36V26.36A12.05 12.05 0 0 0 28.8 22a12.05 12.05 0 0 0 5.2-4.36V4.36A12.05 12.05 0 0 0 28.8 0H7.2A12.04 12.04 0 0 0 1 6.2zM17.36 23H12a10 10 0 1 0 0 20h5.36a11.99 11.99 0 0 1 0-20zm1.28-2H24a10 10 0 1 0 0-20h-5.36a11.99 11.99 0 0 1 0 20zM12 1a10 10 0 1 0 0 20 10 10 0 0 0 0-20zm0 14a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3.46-2a2 2 0 1 0-3.47 2 2 2 0 0 0 3.47-2zm0-4a2 2 0 1 0-3.47-2 2 2 0 0 0 3.47 2zM12 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3.46 2a2 2 0 1 0 3.47-2 2 2 0 0 0-3.47 2zm0 4a2 2 0 1 0 3.47 2 2 2 0 0 0-3.47-2zM24 43a10 10 0 1 0 0-20 10 10 0 0 0 0 20zm0-14a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3.46 2a2 2 0 1 0 3.47-2 2 2 0 0 0-3.47 2zm0 4a2 2 0 1 0 3.47 2 2 2 0 0 0-3.47-2zM24 37a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3.46-2a2 2 0 1 0-3.47 2 2 2 0 0 0 3.47-2zm0-4a2 2 0 1 0-3.47-2 2 2 0 0 0 3.47 2z'/%3E%3C/g%3E%3C/svg%3E");
}

/* Links */

.link {
    @apply border-b-1 border-dashed border-zinc-400 hover:border-solid
}

.buttonbg{
    @apply bg-[url(/button.png)] bg-cover rounded-full 
}

.button {
    @apply p-2 w-full font-bold text-zinc-300 rounded-full outline-1 outline-zinc-400 hover:outline-zinc-950 backdrop-brightness-25 hover:text-zinc-950 hover:backdrop-brightness-100 transition-all
}

.buttonsm {
    @apply px-2 py-1 mb-4 font-bold text-zinc-300 rounded-full outline-1 outline-zinc-400 hover:outline-zinc-950 backdrop-brightness-25 hover:text-zinc-950 hover:backdrop-brightness-100 transition-all
}

.hoveranimsm {
    @apply hover:scale-98 active:scale-95 transition-all
}

.hoveranimlg {
    @apply hover:scale-105 active:scale-95 transition-all
}

.hoveranimnav {
    @apply border-b-0 hover:border-b-2 transition-all
}

/* About */

.grouping {
    @apply border-b-1 border-zinc-400 mb-4 pb-4
}

.nameh {
    @apply font-bold text-wrap w-max max-w-full px-3 py-1 -mt-4 border-1 border-zinc-400 bg-zinc-900 
}

.nameb {
    @apply text-sm text-center p-2 h-fit w-full
}

.alumh {
    @apply text-sm font-bold text-wrap w-max max-w-full px-2 py-1 -mt-4 border-1 border-zinc-400 bg-zinc-900 
}

.alumb {
    @apply text-xs text-center p-2 h-fit w-full
}

td {
    @apply pr-2
}