---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About - Siriraj Motion Picture Club";
---
<BaseLayout pageTitle={pageTitle}>
	
	<!-- info -->
	<section>
		<div class="sectionh">
			<p>Who Are We?</p>
		</div>
		<div class="sectionb">

		</div>
	</section>

	<!-- teams -->
	<section>
		<div class="sectionh">
			<p>Our Team</p>
		</div>
		<div class="sectionb">
			
		</div>
	</section>

	<!-- alumni -->
	<section>
		<div class="sectionh">
			<p>Alumni</p>
		</div>
		<div class="sectionb">
			
		</div>
	</section>

</BaseLayout>