---
import { Image } from 'astro:assets';
import BaseLayoutFull from '@/layouts/BaseLayoutFull.astro';

const pageTitle = "ศินิมา: Siriraj Film Fest 2025";
---

<BaseLayoutFull pageTitle={pageTitle}>
    <div class="w-full h-auto text-amber-950">
        test
    </div>
</BaseLayoutFull>