<div class="
  prose
  max-w-none
  prose-invert
  prose-zinc
  prose-p:my-2 
  prose-p:text-base/6
  prose-strong:text-zinc-300
  prose-headings:font-bold 
  prose-headings:text-zinc-300
  prose-headings:my-2
  prose-h1:text-4xl 
  prose-h2:text-2xl 
  prose-h3:text-xl 
  prose-hr:mb-2 
  prose-hr:border-zinc-300
  prose-ul:list-disc
  prose-tr:border-b-zinc-600
  prose-thead:border-0
  prose-thead:font-bold
  prose-a:no-underline
  prose-a:font-normal
  prose-a:text-zinc-300
  prose-a:border-b-1
  prose-a:border-zinc-400
  prose-a:border-dashed">
  <slot />
</div>